---
layout: default
title: Yuan Yao
description: A showcase of my project. 
featured_image: /images/social.jpg
---


<section class="introduction">
	<p> 
		Hello, my name is Yuan Yao.  I am a passionate in UX research and software engineering. Below, you can find both design projects and programming projects of mine. Don't hesitate to email me at <a href = "mailto: yuanyao.us@gmail.com">yuanyao.us@gmail.com</a> if you have any questions!
	</p>
</section>

<section class="portfolio">

	<h3 class="menu-title">Programming Projects</h3>

	<div class="content-wrap portfolio-wrap">

		{% for program in site.programmings reversed %}

		<div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ program.url | relative_url }}">

				<div class="portfolio-item__image">
					<img class="portfolio-item__image" src="{{ program.featured_image | relative_url }}" alt="{{ program.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ program.title }}</h2>
						<p class="portfolio-item__subtitle">{{ program.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>


<section class="portfolio">

	<h3 class="menu-title">Design Projects</h3>

	<div class="content-wrap portfolio-wrap">

		{% for project in site.projects reversed %}

		<div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ project.url | relative_url }}">

				<div class="portfolio-item__image">
					<img class="portfolio-item__image" src="{{ project.featured_image | relative_url }}" alt="{{ project.title }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ project.title }}</h2>
						<p class="portfolio-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>
